@import url("./base.scss");
@import url("./form/index.scss");
@import url("../../components/Modal/index.scss");
@import url("../../components/Sidebar/index.scss");
@import url("../../components/Signup/index.scss");
@import url("../../components/Song/index.scss");
@import url("../../components/Track/index.scss");
@import url("../../components/Nabar/index.scss");

.border {
  background-color: rgb(23, 23, 23);
}

.playlist-btn {
  background: none;
  border: none;
  color: rgb(216, 186, 245);
}

.hambur-wrapper {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.hambur-wrapper:hover {
  color: #ff2679;
  cursor: pointer;
}

.liked {
  grid-template-areas: "h h h l";
}
.hambur-liked {
  grid-area: h;
}

.liked-icon {
  grid-area: l;
}

.react-icons {
  margin-left: 40px;
  font-size: 20px;
  justify-self: center;
  grid-area: l;
  color: blueviolet;
  align-items: center;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-enclosure {
  background-color: rgb(198, 0, 96);
  border-radius: 0%;
}



.ham {
  flex: 2 1 auto;
  margin: 0;
  display: grid;
  text-align: right;
}

.login-hdr {
  margin: 20px;
  text-align: center;
}

.close-btn {
  height: fit-content;
  border: none;
  background-color: white;
}

.close-btn:hover {
  cursor: pointer;
}

.user,
.pass {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#user-input,
#pass-input {
  flex: 1;
  padding: 8px;
  margin-bottom: 10px;
  text-align: left;
}

.user label,
.pass label {
  flex: 1;
  margin-bottom: 10px;
  font-weight: bold;
}

.forgetPass {
  text-align: right;
  font-size: 13px;
  margin-top: 5px;
}

.log {
  font-size: 20px;
}

.profile-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.image-card {
  height: 100px;
  width: 100px;
  box-shadow: 2px 1px 2px 1px rgba(18, 18, 18, 0.89);
  display: block;
  cursor: pointer;
  border-radius: 5rem;
  position: relative;
  margin: auto;
}

input[type="file"] {
  display: none;
}

.pen {
  flex: 1;
}

.pro-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5rem;
}

.pro-image[src*="http"] {
  display: block;
}

.heart {
  margin: auto auto;
  color: #1c1c1c;
  font-size: 19px;
  flex: 1;
}

.heart:hover {
  cursor: pointer;
  border-radius: 5rem;
}

.fill {
  color: #f4347e;
}

.heart-false {
  display: none;
}
.heart-true {
  display: inline-block;
}

.heart1-false {
  display: none;
}
.heart1-true {
  display: block;
  margin: auto auto;
  margin-bottom: 2px;
}

.items {
  color: white;
  text-align: center;
  background-color: #d5155f;
  margin: 5px;
  padding: 10px !important;
}

.items:hover {
  cursor: pointer;
}
